* -linguist-detectable
guidelines/** linguist-detectable
tools/** linguist-detectable
docs/** -linguist-documentation linguist-detectable
*.json -linguist-detectable
*.yaml -linguist-detectable
*.yml -linguist-detectable
*.toml -linguist-detectable
pnpm-lock.yaml linguist-generated
